@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{font-family: 'Poppins', sans-serif;}
.gyg-font{font-family: 'Give You Glory', cursive;}
.skin-bg{
    background: #FDDAC9;
}
.entry-bg{
    background-color: #FDDAC9;
    background-image: url(../images/entry-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
button, button:focus{
    outline: none;
    cursor: pointer;
}
.btn-yellow{
    background: #F1FF2B;
    border: 3px solid #F1FF2B;
    border-radius: 25px;
    color: #264C26;
    transition: all 0.2s ease-in-out;
}
.btn-yellow:hover, .btn-yellow:focus{
    background: transparent;
    border: 3px solid #F1FF2B;
    border-radius: 25px;
    color: #264C26;
}
.btn-style{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding: 8px 14px;
    outline: none;
}
/* Custom CheckBox Style */
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    color: #264C26;
    font-weight: 400;
    line-height: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #264C26;
    border-radius: 4px;
}
.custom-checkbox:hover input ~ .checkmark {
    background-color: #eee;
}
.custom-checkbox input:checked ~ .checkmark {
    background-color: #F1FF2B;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.custom-checkbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid #264C26;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Default Styles End */



.register-page{
    padding: 8rem 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 100vh;
    height: 100%;
    margin: auto;
}
.register-page-content{
    flex: 0 0 24%;
    margin: auto 0;
    margin-top: 4rem;
}
.register-logo{
    margin-bottom: 35px;
}

.register-content h6{
    font-size: 1.6rem;
    color: #264C26;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 3rem;
}
.register-content p{
    font-size: 1.2rem;
    color: #264C26;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 2rem;
}
.register-content p .reg{font-weight: 400;}
.register-content p>b{font-weight: 700;}
.register-card{
    background: #FFFFFF;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    margin: auto;
    margin-left: auto;
    margin-right: 8rem;
    flex: 0 0 60%;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.zig-zag-bb::after{
    background: linear-gradient( 
        -45deg, transparent 25px, #ffffff 0), linear-gradient( 
        45deg, transparent 25px, #ffffff 0);
    background-repeat: repeat-x;
    background-position: 99.5% 100%;
    background-size: 32px 26px;
    content: "";
    display: block;
    width: 100%;
    height: 26px;
    position: absolute;
    bottom: -22px;
    left: 0px;
}
.register-form-text{
    background: #F1FF2B;
    border-radius: 5px 0 0 5px;
    padding: 15px;
    flex: 0 0 360px;
    position: relative;
    /* z-index: 0; */
}
.register-form-text::after{
    background: linear-gradient( 
        -45deg, transparent 25px, #F1FF2B 0), linear-gradient( 
        45deg, transparent 25px, #F1FF2B 0);
    background-repeat: repeat-x;
    background-position: 96.3% 100%;
    background-size: 32px 26px;
    content: "";
    display: block;
    width: 100%;
    height: 26px;
    position: absolute;
    bottom: -22px;
    left: 0px;
    z-index: 1;
}
.register-home-link{
    display: inline-block;
    background: rgb(0 0 0 / 5%);
    border-radius: 50px;
    padding: 10px 12px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
.register-home-link svg{
    margin-right: 6px;
    display: inline-block;
    vertical-align: sub;
}
.register-home-link:hover,
.register-home-link:focus{
    background: rgb(0 0 0 / 60%);
    color: #FFFFFF;
    text-decoration: none;
}
.register-form-text h5{
    font-size: 2.8rem;
    color: #264C26;
    font-weight: 400;
    padding: 0 20px;
    line-height: 60px;
    margin: 6rem 0 2rem 0px;
}
.register-form-text h5>b{
    display: block;
}
.arrow-svg{
    padding-left: 20px;
    max-width: 80%;
}
.register-form{
    width: 100%;
    margin: auto;
    padding: 4rem 0;
    background: #FFFFFF;
    border-radius: 0 5px 5px 0;
    position: relative;
    /* z-index: 1; */
}
.form-heading{
    max-width: 410px;
    margin: auto;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 25px;
    color: #264C26;
    text-transform: uppercase;
    margin-bottom: 4rem;
    position: relative;
}
.register-form .form-block{
    max-width: 66%;
    margin: auto;
}
.form-heading::after{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    background: #F1FF2B;
    width: 12rem;
    height: 8px;
    border-radius: 8px;
    margin: auto;
}
.register-form .form-group {
    margin-bottom: 0.8rem;
}
.register-form .form-group .form-control{
    display: block;
    width: 100%;
    height: 44px;
    padding: 0.5rem 0.95rem;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 500;
    color: #264C26;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 3px solid rgb(112 179 68 / 50%);
    border-radius: 25px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.register-form .form-group .form-control:focus {
    color: #264C26;
    background-color: #fff;
    border-color: rgb(38 76 38 / 50%);
    outline: 0;
}
.register-form .form-group .form-control::placeholder{
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 500;
    color: rgb(38 76 38 / 50%);
}
.register-form .form-group select.form-control.title-select{
    width: 120px;
    margin-right: 10px;
}
.register-form .form-group select.title-select ~ input.form-control{width: calc(100% - 130px);}
.register-form .form-group .form-control.postal-input{
    width: 140px;
    margin-right: 10px;
}
.register-form .form-group .form-control.postal-input ~ button{width: calc(100% - 150px);}
.signup-check{margin: 16px 0;}
.policy-text>p{
    font-size: 15px;
    color: #70B344;
    font-weight: 300;
    line-height: 20px;
    margin: 0;
    transition: all 0.2s ease-in-out;
}
.policy-text>p>a{
    color: #70B344;
    text-decoration: underline;
}
.policy-text>p>a:hover{
    color: #264C26;
}
.form-element-imgs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.form-element-imgs img{
    max-width: 240px;
}
.form-element-imgs .flot-img-01{
    position: absolute;
    top: -80px;
    left: 80px;
    z-index: 0;
}
.form-element-imgs .flot-img-02{
    position: absolute;
    top: -10%;
    right: -10%;
    z-index: 2;
    max-width: 320px;
}
.form-element-imgs .flot-img-03{
    position: absolute;
    top: 33%;
    right: -11%;
    z-index: 0;
    max-width: 200px;
}
.form-element-imgs .flot-img-04{
    position: absolute;
    bottom: -120px;
    left: 80px;
    z-index: 2;
}

/* Register Success Style */
.register-success-page .register-content{
    margin: 8rem 0;
}
.register-success-page .register-content h5{
    font-size: 2rem;
    color: #264C26;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
}
.register-success-page .register-content span{
    font-size: 4rem;
    color: #264C26;
    font-weight: 400;
    line-height: 70px;
    position: relative;
}
.register-success-page .register-content span > svg{
    max-width: 250px;
    position: absolute;
    bottom: 20px;
    left: 0;
}
.after-register-msg{
    max-width: 340px;
    margin: auto;
}
.after-register-note{
    background: #264C26;
    border-radius: 20px;
    font-size: 1.3rem;
    color: #F1FF2B;
    font-weight: 500;
    line-height: 27px;
    padding: 20px 15px;
    margin: 5rem auto;
}
.after-register-msg h4{
    font-size: 1.2rem;
    color: #264C26;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.5rem;
}
.after-register-msg p{
    font-size: 1.2rem;
    color: #264C26;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 0.5rem;
}



/* Footer Style Start */
.footer-bg{
    background: #264C26;
    box-shadow: inset 0 7px 7px 0px rgb(0 0 0 / 25%);
}
.footer-holder{
    padding: 1rem 2rem;
    position: relative;
}
.footer-blocks{
    list-style: none;
    padding: 0 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.footer-blocks > li{
    list-style: none;
    margin: 0;
    padding: 0 10px;
    flex: 0 1 25%;
}
.footer-logo{
    display: block;
    margin-bottom: 20px;
}
.footer-logo>svg{
    max-width: 140px;
    margin: 0;
}
.copyright-text>p{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}
.logo-copyrigth{padding: 1rem 0rem 0 3rem;}
.elem-bg{
    position: relative;
}
.elem-bg::after{
    content: "";
    background: url(../images/footer-element-imgs.png);
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 140px;
    position: absolute;
    top: -8px;
    left: -28px;
    z-index: 0;
}
.footer-links-group{
    padding-top: 24px;
}
.footer-link-heading{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 22px;
    margin: auto;
    margin-bottom: 24px;
    position: relative;
}
.footer-link-heading::after{
    content: "";
    position: absolute;
    border: 0;
    top: 30px;
    left: 0;
    z-index: 0;
    background: #F1FF2B;
    border-radius: 8px;
    width: 220px;
    height: 5px;
}
.footer-links-ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-links-ul>li{
    flex: 0 1 50%;
    list-style: none;
    margin: 6px 0;
    padding: 0;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 300;
    line-height: 12px;
    transition: all 0.2s ease-in-out;
}
.footer-links-ul.singal-row>li{
    flex: 0 1 100%;
}
.footer-links-ul>li>a{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 300;
    line-height: 12px;
    margin: 6px 0;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.footer-links-ul.contact-detail>li>a{
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
.footer-links-ul.contact-detail>li>a:hover{
    color: #F1FF2B;
    text-decoration: none;
}










/* Responsive Media Qurie Style */
@media only screen and (max-width: 1439px){
    .register-page {
        padding: 6rem 80px 6rem 30px;
    }
    .register-page-content {
        flex: 0 0 310px;
    }
    .register-content h6 {
        font-size: 1.3rem;
        line-height: 24px;
        margin-bottom: 2.5rem;
    }
    .register-content p {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
    }
    .register-card {
        margin-left: 2rem;
        margin-right: 0.5rem;
        flex: 0 1 auto;
    }
    .register-form-text {
        flex: 0 0 300px;
    }
    .register-form-text h5 {
        font-size: 2.2rem;
        line-height: 50px;
    }
    .register-form .form-block {
        max-width: 360px;
    }
}
@media only screen and (max-width: 1199px){
    .entry-bg {
        height: 100%;
    }
    .register-page {
        padding: 2rem 50px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .register-page-content {
        flex: 0 0 100%;
        margin-top: 0rem;
    }
    .register-logo {
        margin-bottom: 10px;
        text-align: center;
    }
    .register-content h6 {
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .register-content p {
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
        text-align: center;
    }
    .register-card {
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
        margin-bottom: 5.5rem;
        flex: 1 0 auto;
    }
    /* Register Success Page Style */
    .register-success-page .register-content {
        margin: 0 0 2rem 0;
        text-align: center;
    }
}
@media only screen and (max-width: 991px){
    .register-page {
        padding: 2rem 20px;
    }
    .form-element-imgs img {
        max-width: 180px;
    }
    .register-card {
        margin-top: 3rem;
        margin-bottom: 3rem;
        flex: 1 0 auto;
    }
    .form-element-imgs .flot-img-01 {
        top: -60px;
        left: 70px;
    }
    .form-element-imgs .flot-img-02 {
        top: -5%;
        right: -2%;
        max-width: 200px;
    }
    .form-element-imgs .flot-img-03 {
        display: none;
    }
    .form-element-imgs .flot-img-04 {
        bottom: -80px;
    }
    .register-form-text {
        flex: 0 0 280px;
    }
    .register-form-text h5 {
        padding: 0 10px;
        margin: 7rem 0 3rem 0px;
    }
}
@media only screen and (max-width: 767px){
    .register-card {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .form-element-imgs .flot-img-02 {
        top: 33%;
        right: -3%;
        z-index: 2;
        max-width: 150px;
    }
    .register-form-text {
        padding: 15px 15px 3rem 15px;
    }
    .register-form-text h5 {
        margin: 1rem 0;
    }
    .register-form {
        padding: 5rem 0;
    }
    .register-form .form-block {
        max-width: 90%;
    }
    .after-register-note {
        margin: 2rem auto;
    }
}
@media only screen and (max-width: 425px){}












